[y-page='home'] {
	display: flex;
	flex-flow: row wrap;

	> h2 {
		flex-basis: 100%;
		line-height: 150%;
		margin-bottom: 0.5rem;
	}

	> #google-maps {
		min-height: 400px;
		flex-basis: 100%;
		margin: 0;

		@media (min-width: 800px) {
			flex-basis: 70%;
		}
	}


	footer {
		flex-basis: 100%;
		font-size: 0.8em;
	}
}
