$col1: "screen";
$col2: "(min-width: 500px)";
$col3: "(min-width: 800px)";
$col4: "(min-width: 1000px)";

[y-page="home"] {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	$gap: 1rem;
	gap: $gap;

	> h2 {
		flex-basis: 100%;
		line-height: 150%;
		margin-bottom: 0.5rem;
	}

	> #google-maps {
		min-height: 400px;
		flex-basis: 100%;
		align-self: stretch;
	}

	> section {
		border: 1px solid grey;
		padding: 2px 1rem 1rem;

		> h1 {
			margin: 0.5rem 0;

			&:only-of-type {
				text-align: center;
			}

			&:nth-of-type(n + 2) {
				margin-top: 1rem;
			}
		}
	}

	> section.agency {
		order: 10;

		> * {
			display: block;
		}

		> a[href] {
			font-size: smaller;

			&:only-of-type {
				text-align: center;
			}
		}
	}

	> footer {
		flex-basis: 100%;
		font-size: 0.8em;
		order: 1000;

		> p:first-child {
			margin-top: 0;
		}
	}

	@media #{$col2} {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;

		> section {
			flex-basis: calc((100% - 1 * #{$gap}) / 2);
		}
	}

	@media #{$col3} {
		justify-content: space-between;

		> #google-maps {
			flex-basis: 70%;

			~ section:first-of-type {
				flex-basis: calc(30% - #{$gap});
			}
		}

		> section {
			flex-basis: calc((100% - 2 * #{$gap}) / 3);
		}
	}

	@media #{$col4} {
		> section {
			flex-basis: calc((100% - 3 * #{$gap}) / 4);
		}
	}
}
